<!DOCTYPE html>
<html>
<head>
  <title>MNIST beginner demo</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href={{ url_for('static', filename='style.css') }}>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src={{ url_for('static', filename='main.js') }}></script>
  <script src={{ url_for('static', filename='draw.js') }}></script>
  <script src={{ url_for('static', filename='bitmap.js') }}></script>
</head>
<body>
  <span id='result'>Draw a number...</span>
  <canvas id='drawable'>
  </canvas>
  <div class='btn_center'>
    <span id='clear'>CLEAR</span>
    <span id='predict'>PREDICT</span>
    {% if predicted_value is defined %}
    <span id='result'>... the number is <strong>{{ predicted_value }}</strong></span>
    {% endif %}
  </div>
</body>
</html>
