body {
  background-color: #ebeef4;
}

form > img {
  background-color: #e7eaf0;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: auto;
}

#submit {
  
}
