body {
  background-color: #ebeef4;
}

form > img {
  background-color: #e4e0e0;
  border: 1px solid #e3e3e3;
  width: 200px;
  height: 200px;
}

.container {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: auto;
}
