body {
  background-color: white;
}

form > img {
  background-color: #f4f7fb;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: auto;
}

#submit {

}
