body {
  background-color: white;
  font-family: "Roboto"
}

.container {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: auto;
}

#classifier {
  display: table;
  border-collapse:separate;
  border-spacing: 15px;
  margin: 0 auto;
}

#classifier > span {
  vertical-align: middle;
  display: table-cell;
}

#preview {
  overflow: hidden;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

form {
  margin-top: 10px;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.submit {
  cursor: pointer;
  padding: 10px 20px;
  width: 180px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: #42D2BE;
  margin: 0 auto;
}

.submit:hover {
  background-color: #47ddc8;
}
